extends base

block content
    if errorMessage 
        span errorMesage
    if article.video
        video(src="/"+article.video controls)
        div#articleInfo(data-id=article.id)
            small=article.createdAt
            small=article.views
            small=article.rating
        div 
            img(href=article.user.avatar) 
            a(src=`/user/${article.user.id}`)=article.user.nickname

block script 
    script(src="/assets/js/videoPlayer.js")